<!DOCTYPE html>
<html>
<head>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
	<link rel="stylesheet" href="styles.css">
	
	<title>40 nuggets task</title>
	<link rel="icon" type="image/png" href="favicon.png">
</head>

<body ng-app="mainApp">

	<div ng-controller="menuCtrl" class="menu">
  
		<div ng-click="changeView('general')" 
			 class="menu__button"
			 ng-class="{'menu__button--active': $route.current.activetab == 'general'}">
				GENERAL
		</div>
		<div ng-click="changeView('integrations')" 
			 class="menu__button"
		     ng-class="{'menu__button--active': $route.current.activetab == 'integrations'}">
				INTEGRATIONS
		</div>
	</div>
  
	<div class="content" ng-view>
	</div>

	<script src="mainApp.js"></script>

</body>
</html>