<!DOCTYPE html>
<html>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>

  <link rel="stylesheet" href="styles.css">
  <title>40 nuggets task</title>


  
</head>

<body ng-app="mainApp">

  <div ng-controller="menuCtrl" class="menu">
	  <div ng-click="changeView('general')" 
		   class="menu__button menu__button--active">GENERAL</div>
	  <div ng-click="changeView('integrations')" 
		   class="menu__button">INTEGRATIONS</div>
  </div>
  
	<div class="content" ng-view>

	</div>

<script>


var app = angular.module("mainApp", ["ngRoute"]);
app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "general.html"
    })
    .when("/general", {
        templateUrl : "general.html"
    })
    .when("/integrations", {
        templateUrl : "integrations.html"
    })
});

app.controller('menuCtrl', function($scope) {
	$scope.changeView = function(view){
		$location.path(view); 
	}
});

</script>

</body></html>