body {
  font-family: Arial;
  font-size: 14px;
}

a {
  color: #f1622a;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.menu {
  width: 200px;
  height: 450px;
  float: left;
  border-right: 4px solid #f1622a;
}

.menu__button {
  font-weight: bold;  
  padding: 10px;
  cursor: pointer;
}

.menu__button--active {
  background-color: #f1622a;
  color: white;
}

.content {
  position: relative;
  float: left;
  height: 450px;
  padding-left: 50px;
}

.content__button {
  border: none;
  background-color: #f1622a;
  color: white;
  padding: 5px 15px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;  
}

.detail-group,
.field-group {
  margin: 30px 0;
  width: 550px;
}

.detail-group label,
.field-group label{
  font-weight: bold;  
}

.field-group label {
  display: block;
  margin-bottom: 10px;
}

.field-group input[type="text"] {
  width: 400px;
  height: 24px;
  padding: 5px;
  border: 1px solid grey;
  background-color: transparent;
}

.footer {
  position: absolute;
  bottom: 10px;
}